

h3{
    text-align: center;
}
p {
    text-align: center;
}
p {
  font-family: cursive;
}
body{
    background-image: linear-gradient(grey, white);
}
img {
    width: 500px; height: 500px;
}
img{
    border-style: dashed; border-color: #91274F;
}
img{
    padding: 25px; margin: 70px;
}   


table{width:150%;text-align:center;}